

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Header styles */

.a{
    margin: 2%;
    padding: 2%;
    width: 1380px;
    height: 150px;
    box-sizing: border-box;
    background-color: black;

}a{color:red;}
.custom-btn { background-color: #4CAF50;}
input[type="submit"]{background-color: #4CAF50;}
#logo{
    color: pink;
    float: inline-start;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    float:left;
}
ul{
    list-style-type: none;
}
li a{
    display: inline;
    text-decoration: none;
    color: chartreuse;
    font: bold;

}
/* Container styles */
    .container { background-color: #228B22;
     display: block;
      margin: 20px auto; /* Center the container horizontally */
      padding: 10px;
      border-radius: 5px;
      width: 100%; /* Set the width to 100% */
      max-width: 1200px; /* Define a maximum width */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
      }
    /* Navigation bar styles */
    #navbar {
     margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #808000; }
      .navbar li { list-style-type: none;
      display:flex;
      place-items:center; }