{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>

</head>
<body>
<header>
    {% block title %}
    <nav class="navbar navbar-light" id="navbar" style="background-color:#234F1E;">

        <img src="\media\images\logoimg.jpg" id="logo" style="width: 150px; height: 150px;">
<ul>
<li><a class="btn btn-success custom-btn" href="{% url 'update' %}">UpdateUserDetails</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'createblog' %}">Blogs</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'logout' %}">Logout</a></li>
</ul>
</nav>
{% endblock %}
</header>
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">

<a class="btn btn-success custom-btn" href="{% url 'home' %}">Back to profile</a><br><br>
<label for="">Type your content here..</label><br><br>
{% if user.is_authenticated %}

{% endif %}
    <table>
  {{ form.as_table }}
        </table>
<input type="submit" value="POST THIS">

        </div>
</form>
 {% endblock %}
</body>
</html>