{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style></style>
</head>
<body>
<header>

    {% block title %}
    {% if user.is_authenticated %}
    <label>welcome</label>
{{ user.username }}
    <nav class="navbar navbar-light" id="navbar" style="background-color:#234F1E;">

        <img src="\media\images\logoimg.jpg" id="logo" style="width: 150px; height: 150px;">
<ul>
<li><a class="btn btn-success custom-btn" href="{% url 'update' %}">UpdateUserDetails</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'createblog' %}">Blogs</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'logout' %}">Logout</a></li>
</ul>
</nav>{% endif %}
{% endblock %}

</header>
{% block content %}
<form action="" method="post">
    {% csrf_token %}

   <div class="container mt-5">
    {% for post in posts %}
    <div class="row mb-3">
        <div class="col-sm-4">
            <img src="{{ post.post_img.url }}" class="img-fluid" alt="{{ post.title }}" style="width: 300px; height: 300px;">
        </div>
        <div class="col-sm-8">
            <h5>{{ post.title }}</h5>
            <a href="{% url 'blogcomment' post.pk %}" class="btn btn-success custom-btn" style="background-color:028A0F;">Read more</a>
            <p>by {{ post.author }}<br><small class="text-muted">{{ post.created_on }}</small></p>
            <a href="{% url 'blogcomment' post.pk %}" class="btn btn-success custom-btn">Leave a comment...</a>
        </div>
    </div>
    {% endfor %}
</div>



</form>
{% endblock %}
</body>
</html>