{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updateuserDetails</title>
</head>
<body>
<header>
    {% block title %}
    <nav class="navbar navbar-light" id="navbar" style="background-color:#234F1E;">

        <img src="\media\images\logoimg.jpg" id="logo" style="width: 150px; height: 150px;">
<ul>
<li><a class="btn btn-success custom-btn" href="{% url 'update' %}">UpdateUserDetails</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'createblog' %}">Blogs</a></li>
<li><a class="btn btn-success custom-btn" href="{% url 'logout' %}">Logout</a></li>
</ul>
</nav>
{% endblock %}
</header>
{% for msg in messages %}
{{ msg }}
{% endfor %}

  {% block content %}
{% if user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container mt-5">
<table>
    <a class="btn btn-success custom-btn" href="{% url 'home' %}">Back to profile</a><br><br>
    <tr><td><label for="">Username</label></td>
        <td><input type="text" name="username" placeholder="username" value="{{ user.username }}"></td></tr>

    <tr><td><label for="">Firstname</label></td>
        <td><input type="text" name="firstname" placeholder="firstname" value="{{ user.first_name }}"></td></tr>

    <tr><td><label for="">Lastname</label></td>
        <td><input type="text" name="lastname" placeholder="lastname" value="{{ user.last_name }}"></td></tr>

    <tr><td><label for="">Email</label></td>
        <td><input type="email" name="email" placeholder="email" value="{{ user.email }}" disabled></td></tr>


<tr><td>
    <input type="submit" value="Save Changes"></td></tr>
</table>
    </div>
</form>
{% endif %}{% endblock %}
</body>



</html>