{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updateuserDetails</title>
</head>
<body>
{% for msg in messages %}
{{ msg }}
{% endfor %}

  {% block content %}
{% if user.is_authenticated %}
<form action="" method="post">
    {% csrf_token %}
<table>
    <a class="btn btn-secondary" href="{% url 'home' %}">Back to profile</a><br><br>
    <tr><td><label for="">Username</label></td>
        <td><input type="text" name="username" placeholder="username" value="{{ user.username }}"></td></tr>

    <tr><td><label for="">Firstname</label></td>
        <td><input type="text" name="firstname" placeholder="firstname" value="{{ user.first_name }}"></td></tr>

    <tr><td><label for="">Lastname</label></td>
        <td><input type="text" name="lastname" placeholder="lastname" value="{{ user.last_name }}"></td></tr>

    <tr><td><label for="">Email</label></td>
        <td><input type="email" name="email" placeholder="email" value="{{ user.email }}" disabled></td></tr>


<tr><td>
    <input type="submit" value="Save Changes"></td></tr>
</table>
</form>
{% endif %}{% endblock %}
</body>



</html>